* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.center-container {
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 20px;
}

.tabs {
    display: flex;
}

.tablinks {
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tabcontent {
    display: none;
    margin-top: 20px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.card {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

.card span {
    font-weight: bold;
}

.tablinks.active {
    background-color: #4CAF50;
    color: white;
}

.card h2 {
    font-size: 24px;
    color: #333;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}